<footer>
    <div class="container footer">
    <div class="footer_img">
        <img src="../../../assets/Illustrations/Logo/footer2.png" alt="logo">
    </div>
    <div class="footer_text">
        <div>
            <h2>PAGES</h2>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Wakanda</a></li>
                <li><a href="#">Enigme</a></li>
            </ul>
        </div>
        <div>
            <h2>RETROUVEZ NOUS</h2>
            <div class="icon_footer">
                <img src="../../../assets/Illustrations/Logo/footer3.png" alt="icon">
                <img src="../../../assets/Illustrations/Logo/footer4.png" alt="icon">
                <img src="../../../assets/Illustrations/Logo/footer5.png" alt="icon">
                <img src="../../../assets/Illustrations/Logo/footer6.png" alt="icon">
                
            </div>
        </div>
               
        
    </div>

    </div>
    <div>
        <p> 2022 Tous droits réservés Politique de confidentialité Conditions d’utilisation</p>
    </div>

</footer>
