.nav-link{
    color: white;
    text-decoration: none;
    margin: 0 2rem;
    padding-left: 12px;
    font-family: 'beyno';
    font-size: 15px;
    
}

.active{
    font-weight: bolder;
    text-decoration: underline;
    color: #9e91b7 !important;
}

nav{
    height: 132px;
    background-color: black !important;
    .navbar-toggler{
        background-color: white !important ;
    }
}