.hero-image {
    background-image: url(../../assets/Illustrations/Eshop/bg_1.jpg);
    height: 800px;
    background-position: center;
    background-color: radial-gradient(
        126.67% 350.28% at -21.35% 0%,
        #11213F 0%,
        #0B0B0B 39.1%,
        rgba(2, 23, 64,0.837641) 94.57%,
        rgba(2, 23, 64, 0) 100%
    );
    background-size: cover;
    background-repeat: no-repeat;
  }

  .hero-title {
    padding-top: 4em;
    font-size: 3em;
    font-weight: bolder;
    text-shadow: white 0px 10px 30px;
  }
  
  a {
    padding-top: 15px;
    color: white;
    text-decoration: none;
  }
  p {
    color: white;
  }
  .form-check-label{
    color: white;
  }
  
  a:active,
  a:hover {
    text-decoration: underline;
  }
  
  .info-perso,
  .info-newsletter {
    padding-left: 30px;
    border-left: 3px white solid;
  }
  h1{
    font-family: 'beyno';
    // font-size: 30px;
    color: #9e91b7;
}
  